<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
    </script>
    <%= javascript_include_tag 'application' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <title>Akron City Health Dashboard</title>
  </head>
  <body>
    <%= render 'partials/header-bar.html.erb' %>
    <%= render 'partials/main-menu.html.erb' %>
    <%= yield %>
    <%= render 'partials/footer.html.erb' %>
  </body>
</html>
