<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <%= javascript_include_tag 'application' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <%= render 'partials/header-bar.html.erb' %>
    <%= render 'partials/main-menu.html.erb' %>
    <%= yield %>
    <%= render 'partials/footer.html.erb' %>
  </body>
</html>
